<ion-view view-title="网站监控">
    <ion-content>
        <ion-refresher refreshing-icon="ion-loading-c" refreshing-text="云端获取数据中..." pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="site in sites">
                <img ng-src="{{site.siteIcon}}" style="top:26px;">
                <h2>{{site.steName}}</h2>
                <p>{{site.siteUrl}}</p>
                <p><img ng-src="{{site.statusIcon}}" style="vertical-align: sub;">{{site.ShowStatusTitle}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
